@charset "UTF-8";
/* VARIABLES */
/* EXTEND */
.iconoss i, .footer__link, main section p a {
  text-decoration: none; }

/* MIXIN */
/* TITULOS DE PAGINAS */
.contenedor__banner {
  color: white;
  margin-top: 150px;
  padding-top: 150px;
  background-image: url(../imagenes/Banners/flores2.jpg); }

/* Listas */
li {
  list-style: none; }

/* Imagenes de galerias */
.contenedor__galeria__img {
  margin-top: 30px;
  margin-bottom: 30px; }

/* HEADER */
.header__nav {
  background-color: pink; }

.iconoss i {
  color: black; }

.iconoss i:hover {
  color: white; }

/* FOOTER */
.footer__link {
  color: white; }

.footer__link:hover {
  color: pink; }

.footer__p {
  color: white; }

/* INDEX */
#index__img__logo {
  padding-top: 50px;
  padding-bottom: 50px; }

.navegador__logo__img {
  height: 80px; }

/* Carrusel */
.index__carrusel {
  border: solid 10px black;
  margin-top: 150px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: carrusel;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  animation-duration: 15s;
  animation-delay: 0; }

@keyframes carrusel {
  0% {
    background-image: url(../imagenes/flor.JPG); }
  25% {
    background-image: url(../imagenes/Productos/aceiteDeAlmendras.JPG); }
  50% {
    background-image: url(../imagenes/Inicio/primeraFoto.jpg); }
  75% {
    background-image: url(../imagenes/Servicios/manos1.JPG); }
  100% {
    background-image: url(../imagenes/Servicios/manos2.JPG); } }

main section p a {
  color: black; }

main section p a:hover {
  color: pink; }

.sobreEliezer__p {
  padding-top: 30px; }

/* PRODUCTOS */
.contenedor__benner__subtitulo {
  padding-top: 50px;
  text-align: center; }

.contenedor__productos__imgYDescripcion {
  padding-top: 35px;
  padding-bottom: 35px; }

/* Product Card */
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem; }

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555; }

.progress {
  height: 10px; }

/* SERVICIOS */
.contenedor__servicios {
  padding-top: 30px; }
  .contenedor__servicios li {
    text-align: center;
    font-weight: 500;
    font-size: 20px; }

/* CONTACTO */
/* MAPA */
.contenedor__mapa {
  padding-top: 150px;
  padding-bottom: 0px; }

/* DATOS DE CONTACTO */
.contenedor {
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  /* título -h1 */ }
  .contenedor__titulo {
    text-align: center;
    color: white; }

/* Formulario */
.formulario {
  background-color: black;
  padding-top: 45px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  justify-content: center; }
  .formulario__nombre {
    padding-top: 5px;
    padding-bottom: 5px; }
  .formulario__mail {
    padding-top: 5px;
    padding-bottom: 5px; }
  .formulario__consulta {
    padding-top: 5px;
    padding-bottom: 5px; }
    .formulario__consulta__input {
      height: 100px; }
  .formulario__boton {
    padding-top: 5px;
    padding-bottom: 5px; }
