/* HEADER */

.header__nav {
    background-color: rgb(248, 190, 199);
}

.iconoss i {
    text-decoration: none;
     color: #000; 
}

/* INDEX */
#index__img__logo { 
    /* padding-left: 33%;
    padding-right: 33%; */
    padding-top: 50px;
    padding-bottom: 50px;
} 

.navegador__logo__img {
    height: 80px;
}

/* Index Carrusel */

.index__carrusel {
    border: solid 10px #000;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: carrusel;
    animation-iteration-count: infinite;
    animation-timing-function: step-end;
    animation-duration: 15s;
    animation-delay: 0;

}

@keyframes carrusel {
    0% {
        background-image: url(./imagenes/flor.JPG);
    }

    25% {
        background-image: url(./imagenes/Productos/aceiteDeAlmendras.JPG);
    }

    50% {
        background-image: url(./imagenes/Inicio/primeraFoto.jpg);
    }

    75% {
        background-image: url(./imagenes/Servicios/manos1.JPG);
    }

    100% {
        background-image: url(./imagenes/Servicios/manos2.JPG);
    }
}

/* SOBRE ELIEZER */
.contenedor__banner {
    color: #fff;
    margin-top: 150px;
    padding-top: 150px;
    background-image: url(./imagenes/Banners/flores2.jpg);
}

main section p a {
    text-decoration: none;
     color: #000; 
}

/* FOOTER */

.footer__link {
    text-decoration: none;
     color: #fff; 
}

.footer__p {
    color: #fff; 
}