/* HEADER */

.header__nav {
    background-color: map-get($colores , secundario);
}


.iconoss i {
    @extend %links;
     color: map-get($colores , contraste);
}

.iconoss i:hover {
    color: map-get($colores , primario);
}

/* FOOTER */

.footer__link {
    @extend %links;
     color: map-get($colores , primario);
}

.footer__link:hover {
    color: map-get($colores , secundario);
}

.footer__p {
    color: map-get($colores , primario);
}

.footer__t {
    color: map-get($colores , primario);
    font-weight: 600;
}
